# IDEAs
.idea/*
.vscode/*

# System files
**/.DS_Store

# Pascal compiled files
!Pascal/**/*.pas
Pascal/Contest*/*
Pascal/Laboratory*/*
!Pascal/Laboratory*/report.pdf

# C language files
!C_lang/Tasks/*.c
C_lang/Tasks/*
**/*.dSYM

# Assembly compiled files
!Assembly/**/*.asm
Assembly/Tasks/*

# Compiled files
**/*.o
**/*.out
**/*.exe
