# IDEAs
.idea/*
.vscode/*

# System files
**/.DS_Store

# Pascal language files
Pascal/*/*
!Pascal/**/*.pas
!Pascal/Laboratory1/report.pdf

# C language files
**/*.dSYM
C_lang/Tasks/*
!C_lang/Tasks/*.c

# Compiled files
**/*.o
**/*.out
**/*.exe
