# IDEAs
.idea/*
.vscode/*

# System files
**/.DS_Store

# Pascal compiled files
!Pascal/**/*.pas
Pascal/Contest*/*
Pascal/Laboratory*/*
!Pascal/Laboratory*/report.pdf

# C language files
**/*.dSYM
C_lang/Tasks/*
!C_lang/Tasks/*.c

# Compiled files
**/*.o
**/*.out
**/*.exe
